html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    font-family: monospace;
    font-size: 200%;
}

h1 {
    margin: 0;
    padding: 0;
}

nav a {
    color: #cde;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    img {
        max-width: 80%;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
